@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    overflow-x: hidden;
  }
}


:root{
  --primary-color:#f45f3f;
  --secondary-color:hsl(226, 100%, 50%);
  --color-black:#000000;
  --color-white:#fff;
}

.social-media-link:hover{
  color:var(--primary-color)
}

.navbar__link:hover {
  color:var(--primary-color);
  transition: all 0.4s;
}

.navbar__link::after {
  position: absolute;
  content: "";
  background-color:var(--primary-color);
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.navbar__link:hover::after {
  scale: 1;
}

/* for icons */

.icon:hover{
  color:var(--primary-color);
}

